:root {
    /* Color palette */
    --color-ok-base: hsl(135, 95%, 60%);
    --color-ok-light: hsl(135, 95%, 72%);
    --color-warn-base: hsl(50, 95%, 60%);
    --color-warn-light: hsl(50, 95%, 72%);
    --color-error-base: hsl(0, 95%, 60%);
    --color-error-light: hsl(12, 95%, 72%);

    --color-grey-white: hsl(0, 0%, 100%);
    --color-grey-offwhite: hsl(0, 0%, 95%);
    --color-grey-light: hsl(0, 0%, 90%);
    --color-grey-base: hsl(0, 0%, 70%);
    --color-grey-base-dark: hsl(0, 0%, 40%);
    --color-grey-dark: hsl(0, 0%, 20%);
    --color-grey-offblack: hsl(0, 0%, 12%);
    --color-grey-black: hsl(0, 0%, 0%);

    --color-primary-dark: hsl(240, 60%, 25%);
    --color-primary-base: hsl(240, 60%, 40%);
    --color-primary-light: hsl(240, 60%, 60%);
    --color-primary-lighter: hsl(240, 60%, 70%);

    --color-surface-primary-1: hsl(240, 20%, 12%);
    --color-surface-primary-2: hsl(240, 20%, 14%);
    --color-surface-primary-3: hsl(240, 20%, 16%);
    --color-surface-primary-4: hsl(240, 20%, 20%);
    --color-surface-mono-0: hsl(0, 0%, 8%);
    --color-surface-mono-1: hsl(0, 0%, 12%);
    --color-surface-mono-2: hsl(0, 0%, 14%);
    --color-surface-mono-3: hsl(0, 0%, 16%);
    --color-surface-mono-4: hsl(0, 0%, 20%);

    --color-mono-lightest: var(--color-grey-white);
    --color-mono-lighter: var(--color-grey-offwhite);
    --color-mono-light: var(--color-grey-light);
    --color-mono-base: var(--color-grey-base);
    --color-mono-dark: var(--color-grey-dark);
    --color-mono-darker: var(--color-grey-offblack);
    --color-mono-darkest: var(--color-grey-black);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-mono-lightest: var(--color-grey-white);
        --color-mono-lighter: var(--color-grey-offwhite);
        --color-mono-light: var(--color-grey-light);
        --color-mono-base: var(--color-grey-base);
        --color-mono-dark: var(--color-grey-dark);
        --color-mono-darker: var(--color-grey-offblack);
        --color-mono-darkest: var(--color-grey-black);

        --color-surface-mono-0: hsl(0, 0%, 8%);
        --color-surface-mono-1: hsl(0, 0%, 12%);
        --color-surface-mono-2: hsl(0, 0%, 14%);
        --color-surface-mono-3: hsl(0, 0%, 16%);
        --color-surface-mono-4: hsl(0, 0%, 20%);

        /* TODO: Adjust primary surface colours accordingly! */
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-mono-lightest: var(--color-grey-black);
        --color-mono-lighter: var(--color-grey-offblack);
        --color-mono-light: var(--color-grey-dark);
        --color-mono-base: var(--color-grey-base-dark);
        --color-mono-dark: var(--color-grey-light);
        --color-mono-darker: var(--color-grey-offwhite);
        --color-mono-darkest: var(--color-grey-white);

        --color-surface-mono-0: hsl(0, 0%, 80%);
        --color-surface-mono-1: hsl(0, 0%, 85%);
        --color-surface-mono-2: hsl(0, 0%, 90%);
        --color-surface-mono-3: hsl(0, 0%, 96%);
        --color-surface-mono-4: hsl(0, 0%, 100%);

        /* TODO: Adjust primary surface colours accordingly! */
    }

    button {
        --color-mono-lightest: var(--color-grey-white);
        --color-mono-light: var(--color-primary-base);
    }
    p,
    h1,
    h2,
    h3 {
        filter: brightness(200%);
    }
}